<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.investallign">

    <application
        android:name=".application.MyApplication"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activities.LoginActivity"
            android:label="Login Screen"></activity>
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:label="Login Screen"></activity>
        <activity
            android:name=".activities.SignupActivity"
            android:label="Login Screen"></activity>
        <activity
            android:name=".activities.SettingActivity"
            android:label="Login Screen"></activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="Login Screen"></activity>
        <activity
            android:name=".activities.AboutUsActivity"
            android:label="Login Screen"></activity>
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:label="Login Screen"></activity>

        <activity
            android:name=".activities.PrivacyPolicyActivity"
            android:label="Login Screen"></activity>

        <activity
            android:name=".activities.EditProfileActivity"
            android:label="Login Screen"></activity>

        <activity
            android:name=".activities.TearmOfUseActivity"
            android:label="Login Screen"></activity>

        <activity android:name=".activities.NewsDetailsActivity"></activity>

    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>